.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home {
  text-align: center !important;
  color: #ffffff;
  background: url('https://i.imgur.com/RO2X9ES.jpg');
  background-size: cover;
  

 
}

.circle{
  width: 400px !important;
  height: 400px !important;
  border: 2px solid #ffffff !important;
  border-radius: 100% !important;
  text-align: center;
  align-items: center;
  background-color: #070713!important;
  color: #ffffff;
  opacity: .8;
}



.card{
  align-content: center;
justify-content:  center;


}

#stockCard{
  border: 2px solid #ffffff !important;
  color: #ffffff;
  background-color:#070713;
  opacity: .7;
 
}

.list-group-item{
  background-color: #070713 !important;
  border: 2px solid #ffffff !important;
  color: #ffffff;
  font-size: 22px;
  opacity: .7;
 
}
.card-title{
  font-family: 'Old Standard TT', serif;
}
#green{
  color: #00cc00!important;
}

#blue{
  color: #ccffff !important;

}

#red{
  color:#ff1a1a!important;
}

.mainFont{
  font-family: 'Old Standard TT', serif;
}

.mainAB{
  font-family: 'Segoe';
  font-size: 32;
}

.userList{
  font-family: 'Old Standard TT', serif;
  font-size: 22px;
  text-decoration: none !important;

}

h3{
  color: #ffffff;
}

#stockInfo{
  margin: 40px !important;
  background-color: rgba(0, 0, 0, .6)!important;
  text-align: center;
  
}

p{
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0) !important;
  font-size: 24px;
  
}

#stockInfo h2{
  color: #ff1a1a;
  background: none;
}
