.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  text-align: center !important;
  color: #ffffff;
  background-color: #0a0a0f;
}

.circle{
  width: 400px !important;
  height: 400px !important;
  border: 2px solid yellow !important;
  border-radius: 100% !important;
  text-align: center;
  align-items: center;
  background-color: #0a0a0f !important;
}



.card{
  align-content: center;
justify-content:  center;

}

#stockCard{
  border: 2px solid yellow !important;
 
}

.list-group-item{
  background-color: #0a0a0f !important;
  border: 2px solid yellow !important;
}

#green{
  color: green !important;
}

#blue{
  color: blue !important;

}

#red{
  color: red !important;
}
